<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header(title,keywords)">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" th:content="${keywords ?: commons.site_option('site_keywords')}"/>
    <meta name="description" th:content="${description ?:commons.site_option('site_description')}"/>
    <link rel="shortcut icon" th:href="@{/user/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/user/img/apple-touch-icon.png}"/>
    <title><th:block th:text="${title ?: '首页'}+' - '+${commons.site_option('site_title','翻墙者')}"></th:block></title>
    <link th:href="@{//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/style.min.css}" rel="stylesheet"/>
    <script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  gtools_scp_screen_capture_injected="true" th:class="${is_post}?'':'bg-grey'">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a th:href="${commons.site_url('/')}" class="navbar-logo">
            <img th:src="@{/user/img/logo.png}" alt="首页"/>
        </a>
        <div class="navbar-menu">
            <a th:href="${commons.site_url('/mrtt')}">明日头条</a>
            <a th:href="${commons.site_url('/yqyh')}">一期一会</a>
            <a th:href="${commons.site_url('/yss')}">有所思</a>
            <a th:href="${commons.site_url('/gry')}">故人言</a>
            <a th:href="${commons.site_url('/jks')}">极客说</a>
            <a th:href="${commons.site_url('/kdy')}">看电影</a>
            <a th:href="${commons.site_url('/dss')}">读书时</a>
            <a th:href="${commons.site_url('/ftl')}">访谈录</a>
            <!--/* <a th:href="${commons.site_url('/archives')}">归档</a>
            <a th:href="${commons.site_url('/links')}">友链</a>
             <a th:href="${commons.site_url('/about')}">关于</a>*/-->
         </div>
         <div class="navbar-search" onclick="">
             <span class="icon-search"></span>
             <form role="search" onsubmit="return false;">
                 <span class="search-box">
                     <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                            autocomplete="off"/>
                 </span>
             </form>
         </div>
         <div class="navbar-mobile-menu" onclick="">
             <span class="icon-menu cross"><span class="middle"></span></span>
             <ul>
                 <li><a th:href="${commons.site_url('/mrtt')}">明日头条</a></li>
                 <li><a th:href="${commons.site_url('/yqyh')}">一期一会</a></li>
                 <li><a th:href="${commons.site_url('/yss')}">有所思</a></li>
                 <li><a th:href="${commons.site_url('/gry')}">故人言</a></li>
                 <li><a th:href="${commons.site_url('/jks')}">极客说</a></li>
                 <li><a th:href="${commons.site_url('/kdy')}">看电影</a></li>
                 <li><a th:href="${commons.site_url('/dss')}">读书时</a></li>
                 <li><a th:href="${commons.site_url('/ftl')}">访谈录</a></li>
                 <!--/*<li><a th:href="${commons.site_url('/archives')}">归档</a></li>
                  <li><a th:href="${commons.site_url('/links')}">友链</a></li>
                  <li><a th:href="${commons.site_url('/about')}">关于</a></li> */-->
            </ul>
        </div>
    </div>
</header>
</body>
</html>