<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
        <ul class="flinks">
            <th:block th:each="link : ${links}">
                <li>🔒 <a th:href="${link.slug}" target="_blank" th:text="${link.name}"></a></li>
            </th:block>
        </ul>
        <h3>链接须知</h3>
        <blockquote>
            <ul>
                <li><p>请确定贵站可以稳定运营</p></li>
                <li><p>公正客观的优先，自由公益的优先，知识传播的优先</p></li>
                <li><p>活跃的优先</p></li>
            </ul>
        </blockquote>
        <h3>基本信息</h3>
        <pre><code class="lang-md hljs markdown">
            网站名称：翻墙者
            网站地址：fqz.space
            Twitter：https://twitter.com/Fanqiangzhe3
        </code></pre>
        <p>我们的邮箱:fqzofficial@protonmail.com</p>
        <p>同时欢迎互换友链 ^_^</p></div>
</article>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>